@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

$ROBOTO: 'Roboto', sans-serif;

// Colors

$ORANGE: rgb(234, 139, 76);
$LIGHTORANGE: #F98111;
$WHITE: #FFFFFF;
$INPUTBORDER: #A6A6A6;
$BORDER: #A6A6A6;
$BACKGROUNDGREY: #EAEAEA;

$LARGE: 1200px;
$MEDIUM: 992px;
$SMALL: 785px;
